/**
    ANCHOR PAIN
 */

#anchorMain, #anchorLogs, #anchorAudio, #anchorSettings {
    -fx-background-color:  #f0f8ff;
}

/**
    TABS
 */
#mainTab, #logsTab, #audioTab {
    -fx-background-color: #e1f1f4;
}

#settingsTab {
    -fx-background-color: #232335;
    -fx-text-base-color: #ffffff;
}

.tab-header-background {
    -fx-background-color: #226aa4;
}

/**
    BUTTONS
 */
#callButton {
    -fx-background-color:  #3e904f;
    -fx-text-fill:  #ffffff;
}

#hangUpButton {
    -fx-background-color:   #AB4642;
    -fx-text-fill:  #ffffff;
}

#spoiledAudioButton, #stopButton, #sinusoidalAudioButton, #fileAudioButton {
    -fx-background-color:   #f5f5f5;
    -fx-border-color: #000000;
    -fx-border-radius: 5;
}

#saveLogsButton, #saveSettingsButton {
    -fx-background-color: #79c;
    -fx-text-fill: #ffffff;
}

#updateButton {
    -fx-background-color: #cc5a4a;
    -fx-text-fill: #ffffff;
}

/**
    LABELS
 */

#audioControlLabel, #receiverLabel {
    -fx-border-color: #000000;
}

#connectionLabel {
    -fx-background-color:  #000000;
    -fx-border-color:  #000000;
}
